@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --background: #222;
  --light-gray: #ccc;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

ul, ol {
  list-style-type: none;
}


/*Typography*/
.headline {  
  font-weight: 800;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: white;
}

.subheadline {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--white);
  margin-bottom: 32px;
}

.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;  
  color: var(--light-gray);
}

.section-paragraph:not(:first-of-type){
  margin-top: 16px;
}

/*Components*/
.button-cta {
  width: 225px;
  height: 56px;
  display: grid;
  place-items: center;
  border: 1px solid var(--white);
  border-radius: 8px;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
}

.button-cta:hover{
  border-color: unset;
  background-color: var(--white);
  color: unset;
}

.navlink-list {
  position: fixed;
  top: 0;
  width: min(320px, 90%);
  height: 100vh;
  left: 100vw;
  background-color: var(--white);
  box-shadow: -1px 0px 4px 2px rgba(0,0,0,0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 140px;
  gap: 36px;
  z-index: 998;
  transition: 0.25s; 
}

.navlink {
  color: var(--black);
  font-size: 18px;
}

.r-sidebar .hamburger-checkbox:checked ~ .navlink-list {
  left: calc(100vw - min(320px, 90%));
}

.r-sidebar .hamburger-checkbox {
  position: fixed;
  appearance: none;
  width: 0;
  height: 0;
}

.r-hamburger-menu{
  position: fixed;
  z-index: 999;
  width: 30px;
  height: 20px;
  top: 24px;
  right: 24px; 
  cursor: pointer;
}

.r-hamburger-menu .line{
  position: absolute;
  display: block;
  width: 30px;
  height: 0;
  border: 1px solid var(--white);
  transition: 0.25s;
}

.r-hamburger-menu .line:nth-of-type(1){
  top: 0;
  transform: rotate(0);  
}

.r-hamburger-menu .line:nth-of-type(2){
  top: 10px;
  transform: rotate(0);
}

.r-hamburger-menu .line:nth-of-type(3){
  top: 20px;
  transform: rotate(0);
}

.hamburger-checkbox:checked ~ .r-hamburger-menu .line:nth-of-type(1){
  top: 10px;
  transform: rotate(45deg);
  border-color: var(--black);
}

.hamburger-checkbox:checked ~ .r-hamburger-menu .line:nth-of-type(2){
  opacity: 0;
}

.hamburger-checkbox:checked ~ .r-hamburger-menu .line:nth-of-type(3){
  top: 10px;
  transform: rotate(-45deg);
  border-color: var(--black);
}

/*Sections*/
.r-header {
  position: relative;
  width: 100%;  
  height: max(100vh, 600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  background: linear-gradient(107.04deg, #000000 -107.08%, rgba(0, 0, 0, 0.730288) 6.05%, rgba(0, 0, 0, 0.5) 102.65%);
  overflow: hidden;
}

.r-header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;   
  left: 100vw;
  top: 0;
  z-index: 1;
  background-color: white;
  animation: slide 2s  
}

@keyframes slide{
  from{ left: 0; }
  to { left: 100vw; }
}

.r-header .headline, .r-header .subheadline, .r-header .cta-container {
  position: relative;
  mix-blend-mode: difference;
  z-index: 2; 
}

.r-header .subheadline{
  margin-top: 24px;
}

.r-header .cta-container{
  display: flex;
  gap: 24px;
  margin-top: 80px;
}


.r-sobre {
  padding-top: 140px;
  margin-inline: auto;
  width: min(90%, 1160px);
  display: flex;
  justify-content: space-between;
  gap: 100px; 
  align-items: center;
}




